<nz-spin [nzSpinning]="isLoading" [nzDelay]="0" class="full-height">
  <ng-container *ngIf="nodes[0]; else other">
    <div class="tree-container l-rate">
      <nz-tree
        [style]='nzStyle'
        #nzTreeComponent
        [nzData]="nodes"
        [nzTreeTemplate]="isCustomNode ? nzTreeTemplate : null"
        [nzDraggable]="isDraggable"
        [nzCheckable]="isCheckable"
        [nzMultiple]="isMultiple"
        [nzShowLine]="isShowLine"
        [nzSearchValue]="nzSearchValue"
        [nzExpandAll]="isExpandAll"
        [nzBeforeDrop]="beforeDrop"
        [nzCheckedKeys]="defaultCheckedKeys"
        [nzSelectedKeys]="defaultCheckedKeys"
        [nzExpandedKeys]="defaultExpandedKeys"
        (nzClick)="nzEvent($event)"
        (nzOnDragEnd)="nzEvent($event)"
        (nzCheckBoxChange)="nzEvent($event)"
        [nzHideUnMatched]='true'
        [nzVirtualHeight]='nzVirtualHeight'
        (nzSearchValueChange)='nzSearchValueChange($event)'
      >
      </nz-tree>
    </div>
  </ng-container>
  <ng-template #other>
    <nz-empty style="margin-top: 50px;"></nz-empty>
  </ng-template>
</nz-spin>

<ng-template #nzTreeTemplate let-node>
  <span draggable class="custom-node --"
        [class.active]="activedNode?.key === node.key">
    <!-- 非叶子节点 -->
    <span *ngIf="!node.isLeaf">
      <span class="title">
        <ng-container
          *ngTemplateOutlet="inputTpl; context: { $implicit:node }">
        </ng-container>


        <span
          *ngIf="node.origin.kType==='2'&&node.origin.weight&&(!(node.origin.status==='3'&&!practice))&&activedNode?.key !== node.key"
          [ngStyle]='{position: "absolute",right: "10px",color: "red"}'
          [title]='"该章节权重"+node.origin.weight'>{{node.origin.weight + '/' + totalWeight}}</span>
        </span>

        <span *ngIf='node.origin.kType!=="1"&&node.origin.status==="2"&&!practice'>
         (新增)
        </span>

      <span class="icon-row"
            *ngIf="activedNode?.key === node.key && !node.origin.isEdit && !preview">
        <ng-container
          *ngTemplateOutlet="iconTpl; context: { $implicit:node }">
        </ng-container>
      </span>
      <span class="icon-row"
            *ngIf="activedNode?.key === node.key && node.origin.isEdit">
        <ng-container
          *ngTemplateOutlet="editTpl; context: { $implicit:node }">
        </ng-container>
      </span>
    </span>
    <!-- 叶子节点 -->
    <span *ngIf="node.isLeaf">
      <span class="title">
        <ng-container
          *ngTemplateOutlet="inputTpl; context: { $implicit:node }">
        </ng-container>
        <span style='display: inline-block;
          width: 6px;
          height: 6px;
          background: red;
          border-radius: 50%;
          vertical-align: text-top;
          margin-left: 5px;' title='该知识点未完成' *ngIf="(!node.origin.isDone)&&node.origin.kType==='4'"></span>
         <span
           *ngIf="activedNode?.key !== node.key&&node.origin.kType==='2'&&node.origin.weight&&(!(node.origin.status==='3'&&!practice))"
           [ngStyle]='{position: "absolute",right: "36px",color: "red"}'
           [title]='"该章节权重"+node.origin.weight'>{{node.origin.weight + '/' + totalWeight}}</span>

        <span *ngIf='node.origin.status==="2"&&!practice&&node.origin.kType!=="1"'>(新增)</span>

        <ng-container *ngIf="node.origin.keyLevel&&node.origin.kType==='4'&&!(activedNode?.key === node.key)">
          <span style='position: absolute;right: 10px;'>
                <i nz-icon nzType="star" nzTheme="outline"
                   *ngFor='let item of getLength(node.origin.keyLevel)'></i>
          </span>
        </ng-container>

      </span>
      <span class="icon-row"
            *ngIf="activedNode?.key === node.key && !node.origin.isEdit && !preview">
        <ng-container
          *ngTemplateOutlet="iconTpl; context: { $implicit:node }">
        </ng-container>
      </span>

      <span class="icon-row"
            *ngIf="activedNode?.key === node.key && node.origin.isEdit">
        <ng-container
          *ngTemplateOutlet="editTpl; context: { $implicit:node }">
        </ng-container>
      </span>
    </span>
  </span>
</ng-template>

<ng-template #inputTpl let-node>
  <span *ngIf="!node.origin.isEdit"
        class='node-label-s'
        [ngStyle]='{"text-decoration":(node.origin.status==="3"&&!practice)?"line-through":"none"}'
        [innerHTML]='getTitleText(node) | safeHtml'></span>

  <input *ngIf="node.origin.isEdit"
         [style]="{width:'100px'}"
         nz-input nzSize="small"
         [(ngModel)]="node.origin.editTitle"
         (keyup.enter)="confirmEdit(node)"
  />
</ng-template>

<ng-template #iconTpl let-node>
  <ng-container *ngIf='!(node.origin.status==="3"&&!practice)'>
    <i
      nz-icon nzType="edit"
      nzTheme="outline"
      *ngIf="node.origin.iconBtn.edit"
      (click)="edit(node)">
    </i>

    <i nz-icon nzType="minus-circle"
       nzTheme="outline"
       *ngIf="node.origin.iconBtn.del"
       (click)="warning(node)">
    </i>

    <i nz-icon nzType="plus-circle"
       nzTheme="outline"
       *ngIf="node.origin.iconBtn.add&&((!practice)||node.origin.kType==='1')"
       (click)="add(node)">
    </i>
  </ng-container>
</ng-template>

<ng-template #editTpl let-node>
  <i nz-icon nzType="check" nzTheme="outline" (click)="confirmEdit(node)"></i>
  <i nz-icon nzType="close" nzTheme="outline" (click)="cancelEdit(node)"></i>
</ng-template>
