<vg-player>
  <vg-controls vgFor="__VG__VIDEO__" [vgAutohide]="true" [vgAutohideTime]="5">
    <vg-play-pause></vg-play-pause>

    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

    <vg-volume></vg-volume>
    <vg-mute></vg-mute>

    <vg-fullscreen></vg-fullscreen>
 </vg-controls>

  <video
    id="__VG__VIDEO__"
    #media
    [vgMedia]="media"
    preload="auto"
    controlslist="nodownload"
    (contextmenu)="false">
      <ng-container *ngFor="let source of sourceVideos">
        <source [src]="source" type="video/mp4">
      </ng-container>
  </video>
</vg-player>
