<nz-layout>
  <div class='main-header'>
    课程查询
  </div>
  <div class='header'>
    <div class='header-container mb20'>
      <div class='header-item fl2'>
        <label class='header-label'>关键词搜索: </label>
        <div class='input-container'>
          <input nz-input [placeholder]="'支持课程编号/课程名称/负责人'" [(ngModel)]="searchWordVal" (ngModelChange)='storingData()'
                 style='margin-right: 20px;' (keyup.enter)='searchData("button")'/>
        </div>
      </div>
      <div class='header-item ml40 fl1'>
        <label class='header-label'>审批状态: </label>
        <div class='input-container'>
          <nz-select nzShowSearch nzPlaceHolder="请选择课程状态" [(ngModel)]="selectedVal"
                     (ngModelChange)='storingData()'
                     style='margin-right: 20px;width:100%'>
            <nz-option nzValue="" nzLabel="全部"></nz-option>
<!--            <nz-option nzValue="0" nzLabel="草稿"></nz-option>-->
            <nz-option nzValue="1" nzLabel="待审批"></nz-option>
            <nz-option nzValue="2" nzLabel="标准"></nz-option>
            <nz-option nzValue="3" nzLabel="未通过"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class='header-item ml40 fl2'>
        <label class='header-label'>提交时间: </label>
        <nz-range-picker [(ngModel)]="dateRangeVal" (ngModelChange)='storingData()'></nz-range-picker>
      </div>
      <button nz-button nzType="primary" (click)="searchData('button')" class='ml40'>查询</button>
      <button nz-button nzType="primary" style='margin-left:20px;' (click)="resetData()">重置</button>

    </div>
  </div>


  <nz-content style='padding:  20px 20px;'>
    <div class="table-container" id='tableScroll' [class.no-scoll]='!data?.length'>
      <nz-table #basicTable [nzData]="data" [nzFrontPagination]="false"
                [nzShowSizeChanger]="true"
                [nzPageSizeOptions]='[15, 20, 30, 40, 50]'
                [nzScroll]='{x:"1010px",y : height+"px"}'
                [nzShowTotal]="totalTemplate" [nzLoading]="isLoading" [nzTotal]="total"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
                (nzPageSizeChange)="searchData()">
        <thead>
        <tr>
          <th nzWidth='120px'>课程编号</th>
          <th nzWidth='200px'>课程名称</th>
          <th nzWidth='200px'>{{orgCode === 'zksd' ? '所属专业' : '所属学科'}}</th>
          <th nzWidth='120px'>负责人</th>
          <th nzWidth='120px'>提交时间</th>
          <th nzWidth='120px'>审批时间</th>
          <th nzWidth='120px'>审批状态</th>
          <th nzWidth='50px' nzRight>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;let idx=index;">
          <td><span class='synopsis-text'>{{ data.code }}</span></td>
          <td><span class='synopsis-text'>{{ data.name }}</span></td>
          <td><span class='synopsis-text'>{{ orgCode == 'zksd' ? data.majorNames : data.majorName  }}</span></td>
          <td><span class='synopsis-text'>{{ data?.leaderName }}</span></td>
          <td><span class='synopsis-text'>{{ getDate(data?.billDate)}}</span></td>
          <td><span class='synopsis-text'>{{ getDate(data?.auditDate)}}</span></td>
          <td><span class='synopsis-text' [class.red]='data.auditStatus === "3"' [class.green]='data.auditStatus === "2"' [class.orange]='data.auditStatus === "1"'>{{ data.auditStatusName }}</span></td>
          <td nzRight>
            <nz-space>
              <nz-space-item>
                <a (click)="preview(data)">预览</a>
              </nz-space-item>
            </nz-space>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <ng-template #totalTemplate let-total>共 {{ total }} 条记录</ng-template>
  </nz-content>
</nz-layout>




